<form [formGroup]="form" (ngSubmit)="save()">
  <mat-card>
    <mat-card-header>
      <mat-card-title> {{isNew ? 'Editar' : 'Nueva'}}  Categoría</mat-card-title>
      <button type="button" mat-raised-button color="primary" (click)="getBack()">Atras</button>
    </mat-card-header>
    <mat-card-content>
        <div class="row">
          <div class="col-xs">
            <mat-form-field>
              <mat-label>Nombre</mat-label>
              <input placeholder="Nombre" formControlName="name" matInput type="text">
              <div class="messages" *ngIf="nameField.touched && nameField.invalid">
                <mat-error *ngIf="nameField.hasError('required')">
                  Este campo es requerido
                </mat-error>
                <mat-error *ngIf="nameField.hasError('minlength')">
                  Minimo debe tener 4 caracteres
                </mat-error>
                <mat-error *ngIf="nameField.hasError('not_available')">
                  Esta categoría no esta disponible
                </mat-error>
              </div>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xs">
              <img *ngIf="imageField.value" [src]="imageField.value" alt="">
              <input (change)="uploadFile($event)" placeholder="Image"
              type="file">
              <div class="messages" *ngIf="imageField.touched && imageField.invalid">
                <mat-error *ngIf="imageField.hasError('required')">
                  Este campo es requerido
                </mat-error>
              </div>
          </div>
        </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button type="submit">{{isNew ? 'Editar' : 'Crear'}} categoría</button>
    </mat-card-actions>
  </mat-card>

</form>
